.dialogue-backdrop {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.75);
}

.dialogue-body {
	background-color: var(--color-background);
	border-radius: var(--base-border-radius);
}

table {
	border-collapse: collapse;
	margin: var(--responsive-padding);
}

.clickable-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	min-width: 1px;
	min-height: 1px;
	z-index: 1;
}

.upload-dropzone {
	border-radius: calc(var(--base-border-radius) * 2);
	border-width: var(--base-border-radius);
	border-style: dashed;
	border-color: var(--color-text);
}

.upload-dropzone.active {
	border-color: var(--color-primary);
}

#drop-receiver {
	background-color: rgba(0, 0, 0, 0.8);
	opacity: 1;
}
#drop-receiver::after {
	display: flex;
	align-items: center;
	justify-content: center;
	content: "Drop Files Here";
	font-size: 4em;
	color: var(--color-secondary);

	position: absolute;
	left: var(--base-padding);
	right: var(--base-padding);
	top: var(--base-padding);
	bottom: var(--base-padding);

	border-radius: calc(var(--base-padding) / 2);
	border-radius: calc(var(--base-padding) * 2);
	border-style: dashed;
}
