<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>File Uploader</title>
		<base href="/">

		<!-- Gonna use angular because why the heck not -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
		<style>
			[ng-cloak] {
				display: none;
			}
		</style>

		<link rel="stylesheet" href="css/vars.css">
		<link rel="stylesheet" href="css/head.css">

	</head>
	<body>

		<main ng-app="uploader-app" ng-controller="app-controller" class="flex column" ng-cloak>
			<nav class="flex-mid bg-primary padding-1">
				<div class="grow flex vcenter font-1.5em">
					Path: /
					<span ng-repeat="part in pathParts">{{part}}/</span>


				</div>
				<div class="padding-1 font-0.5em font-0-mid"></div><!-- spacer -->
				<div class="flex">
					<button ng-show="pathParts.length" ng-click="backOne()" class="basis">Back</button>
					<span ng-show="pathParts.length" class="padding-left-1"></span>
					<button class="basis" ng-click="createFolder()">Create Folder</button>
					<span class="padding-left-1"></span>
					<button class="basis" ng-click="openUploader()">Upload File</button>
				</div>
			</nav>

			<table>
				<thead>
					<tr>
						<th>
							Name
						</th>
						<th>
							Original Name
						</th>
						<th>
							Actions
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="content in filesList" ng-class="{
						'bg-secondary': $even
					}">
						<td class="padding-left-1">
							<a href="#" ng-click="open(content)" class="inline block" ng-show="content.type === 'dir'">{{content.name}}</a>
							<span ng-show="content.type === 'file'">{{content.name}}</span>
						</td>
						<td>
							<span ng-show="content.type === 'file'">{{content.srcName}}</span>
						</td>
						<td class="text-right">
							<a href="#" class="margin-1 block inline-mid" ng-show="content.type === 'file'">Download</a>
							<a href="#" class="margin-1 block inline-mid" ng-click="rename(content)">Rename</a>
							<a href="#" class="margin-1 block inline-mid" ng-click="delete(content)">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
		</main>

		<link rel="stylesheet" href="css/framework.css">
		<link rel="stylesheet" href="css/spicifics.css">

		<script type="text/javascript" src="js/app/app.js"></script>
		<script type="text/javascript" src="js/app/api-wrapper.js"></script>
		<script type="text/javascript" src="js/app/app-controller.js"></script>
		<script type="text/javascript" src="js/app/create-folder/controller.js"></script>
		<script type="text/javascript" src="js/app/uploader/controller.js"></script>
		<script type="text/javascript" src="js/app/rename/controller.js"></script>

		<script type="text/javascript" src="js/components/components.js"></script>
		<script type="text/javascript" src="js/components/dialogue.js"></script>
		<script type="text/javascript" src="js/components/load-focus.js"></script>
	</body>
</html>
