<div>
	<div class="relative padding-1 upload-dropzone">
		<div class="text-center">
			<h2 class="marginless">Select files to upload</h2>
			<small class="color-dark">Accepted formats: .css, .js, .html, .php</small>
		</div>
		<input type="file" id="file-select" multiple accept=".css,.js,.html,.php" class="clickable-overlay" ondrop="this.scope.externals.fileDrop(event)" onchange="this.scope.externals.selectChange(event, this)"/>
	</div>
	<div ng-repeat="file in files" class="margin-top margin-bottom">
		<div class="flex vcenter">
			<strong class="margin-right">File:</strong>
			<div class="grow" ng-show="!file.renaming && file.progress !== 100" ng-dblclick="file.renaming = true">
				{{file.name}}
			</div>
			<input ng-model="file.name" class="grow margin-right" ng-show="file.renaming && file.progress !== 100" ng-keyup="$event.keyCode === 13 && (file.renaming = false)"/>
			<button class="font-0.75em" ng-click="file.renaming = !file.renaming" ng-show="file.progress !== 100">Rename</button>
		</div>
	</div>
	<div class="margin-top flex">
		<button ng-click="close()">Close</button>
		<div class="grow"></div>
		<button ng-click="upload()" ng-show="canShowUploadButton()">Upload</button>
	</div>
</div>
