<div>
	<div class="relative padding-1 upload-dropzone">
		<div class="text-center">
			<h2 class="marginless">Select files to upload</h2>
			<small class="color-dark">Accepted formats: .css, .js, .html, .php</small>
		</div>
		<input type="file" id="file-select" multiple accept=".css,.js,.html,.php" class="clickable-overlay" ondrop="this.scope.externals.fileDrop(event)" onchange="this.scope.externals.selectChange(event, this)"/>
	</div>
	<div ng-repeat="file in files" class="margin-top">
		<div>
			<strong>Original Name:</strong> {{file.file.name}}
		</div>
		<div class="flex vcenter">
			<strong>Renamed:</strong>
			<input ng-model="file.name" class="grow margin-left"/>
		</div>
	</div>
</div>
